{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --ignore-path .gitignore",
    "prettier --write"
  ],
  "**/*.{md,json,yaml,yml}": [
    "prettier --write"
  ],
  "**/*.{py}": [
    "poetry run ruff check --fix",
    "pnpm pyright"
  ]
}